body { 
  font-family:"Helvetica Neue",Verdana,Arial,sans-serif;
  font-size: 11pt; 
  margin: 0px; 
  padding: 0px; 
  background-color: #FFF;
}

#content {
  margin-left:32px;
  padding-top:16px;
  padding-top:16px;
}

#titleText {
  font-size:12pt;
  font-weight:bold;
  font-family:"Helvetica Neue",Verdana,Arial,sans-serif;
}


a:hover {
  cursor: pointer;
}

.disclosureCheckbox { 
  display:none;
}

.summary > .photo { width: 52px; height: 52px; left: 22px; position: absolute; border: 1px solid #aaa; }
.searchbox {border:none;width:100px;}

.groupText {font-size:9pt;display:inline}

.groupSelected {
  color:#000;
  text-align:center;
  display:inline-block;
  min-width:120px;
  margin-top:10px;
  margin-right:8px;
  margin-bottom:0px;
  margin-left:8px;

  padding-top:4px;
  padding-right:8px;
  padding-bottom:0px;
  padding-left:8px;

  min-height:24px;
  font-size:10pt;
  font-weight:bold;
  cursor: pointer;
  font-family:"Helvetica Neue",Verdana,Arial,sans-serif;
  -moz-border-radius: 1em; 
  -moz-user-select: none;

  background-color: rgba(240,248,255,1);
  border: 1px solid rgba(127,127,127,1);
  -moz-box-shadow: 1px 1px 0 rgba(100,100,100,1);

}
.groupUnselected {
  color:#888;
  text-align:center;
  display:inline-block;
  min-width:120px;
  margin-top:8px;
  margin-right:8px;
  margin-bottom:2px;
  margin-left:8px;

  padding-top:4px;
  padding-right:8px;
  padding-bottom:0px;
  padding-left:8px;

  min-height:24px;
  font-size:10pt;
  font-weight:bold;
  cursor: pointer;
  font-family:"Helvetica Neue",Verdana,Arial,sans-serif;
  -moz-border-radius: 1em; 
  -moz-user-select: none;

  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(185,185,185,1);
  -moz-box-shadow: 3px 3px 0 rgba(200,200,200,1);
}
.allSpacer {
  height:16px;
}

#fieldPicker {
  font-size:10pt;
  margin-top:24px;
  margin-left:32px;
  margin-right:32px;
  padding:16px;
  -moz-border-radius: 1em; 
  background-color: rgba(240,240,240,1);
  border: 1px solid rgba(185,185,185,1);
  -moz-box-shadow: 
    inset rgba(255, 255, 255, 0.5) 0 1px 0px,
    inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

#groupPicker {
  font-size:10pt;
  margin-top:24px;
  margin-left:32px;
  margin-right:32px;
  padding:16px;
  -moz-border-radius: 1em; 
  background-color: rgba(240,240,240,1);
  border: 1px solid rgba(185,185,185,1);
  -moz-box-shadow: 
    inset rgba(255, 255, 255, 0.5) 0 1px 0px,
    inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

#rememberFinePrint {
  font-size:8pt;
  margin-left:24px;
}
#rememberPicker {
  font-size:10pt;
  margin-top:24px;
  margin-left:32px;
  margin-right:32px;
  padding:16px;
  -moz-border-radius: 1em; 
  background-color: rgba(240,240,240,1);
  border: 1px solid rgba(185,185,185,1);
  -moz-box-shadow: 
    inset rgba(255, 255, 255, 0.5) 0 1px 0px,
    inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 0px;
}