body { font-family: sans-serif; font-size: 11pt; margin: 0px; padding: 0px; background-color: #fff; }

.contact {
  border: 1px outset #999; 
  -moz-border-radius: 0.5em; 
  padding: 0.5em; 
  margin: 0.5em; 
  width: 20em; 
  -moz-box-shadow: #bbb 2px 2px 1px; 
  float: left;
}

.photo {
  max-width: 100px;
}

.identity {
}

img { margin: 0em; padding: 0em; border: none; }

.contact {  }
.contact > .summary { position: relative; min-height: 52px; }
.summary > .photo { width: 52px; height: 52px; position: absolute; border: 1px solid #aaa; }
.summary > .photo > img { margin: 0em; padding: 0em; border: 2px solid #eee; width: 48px; height: 48px; }
.summary > .information { margin-left: 54px; padding-left: 1em; }
.summary > .information > .name { color: #222; font-weight: bold; font-size: 120%; overflow: hidden; white-space: nowrap; }
.summary > .information > .description { color: #999; margin-top: 0.5em; }
.contact > .identities { margin-top: 1em; border-top: 1px solid #ddd; padding-top: 0.5em; }
.identities > .identity > .identity { position: relative; margin-bottom: 0.2em; }
.identity > .type, .identity > .value { white-space: nowrap; overflow: hidden; }
.identity > .type { position: absolute; color: #999; width: 52px; text-align: right;}
.identity > .value { margin-left: 54px; padding-left: 1em; }

