html {
  height:100%
}
body { 
  font-family: sans-serif; 
  font-size: 11pt; 
  margin: 0px;
  padding: 0px; 
  background-color: #EDEDED; 
  height:100%
}

A {
  color:#3875D7
}
a:hover {
  cursor: pointer;
}

scrollbar {-moz-opacity: 0.3 !important;}
scrollbar:hover {-moz-opacity: 1.0 !important;}

.controlbar {
  margin:0;	
  padding:0px;
  background: -moz-linear-gradient(top, #CECECE, #A8A8A8);
  height:58px;
  border-bottom:1px solid #808080; 
  padding-left:32px;
}

.controlbutton {
  display:inline-block;
  height:48px;
  padding:4px 8px;
  font: small-caption;
  font-weight: normal;
  text-align:center;
  -moz-user-select:none;
}

.controlbutton_selected {
  display:inline-block;
  height:48px;
  padding:4px 8px;
  font: small-caption;
  font-weight: normal;
  text-align:center;
  background: url('images/pref-selected-left.png') no-repeat top left, url('images/pref-selected-right.png') no-repeat top right, -moz-linear-gradient(top, rgba(0,0,0,0) 5%, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0) 95%);
  -moz-user-select:none;
}

.message {
  float:right;
  font: small-caption;
  font-size:8pt;
  margin-right:32px;
}

/******* Contacts Display: Controls Bar ******/

.contactcontrols {
  width:100%;
  position: relative;
  margin:0px;
  height:42px;
  background-color:#EDEDED;
}

.controlsubhead {
  padding-top:8px;
  border-bottom:1px inset #808080;
  font-size: 24px;
  margin: 10px 0px;
}

.searchframe {
  position: absolute;
  top: 6px;
  display:inline-block;
   margin-left:30px;
  font: small-caption;
}

.searchbubble {
  display:inline-block;
  font: small-caption;
  background-color: rgba(255,255,255,1);
  border: 0;
    color: rgba(255,255,255,0.8);
    text-shadow: black 0 1px;
    width: 160px;
    border: 1px solid rgba(0,0,0,0.3);
   	-moz-border-radius: 0.3em;
	-moz-box-shadow:
		inset rgba(0,0,0,0.2) 0px 1px 2px; 
	padding: 4px 4px 4px 6px; 
	margin: 2px 0 0 0;
}

.searchbox {
  border:none;
  background-color: transparent;
  width:140px;
}

#contactdisplaymodes {
  position: absolute;
  top: 6px;
  display:inline-block;
  margin-left:300px;
} 
.contactdisplaymode {
  display:inline-block;
  font: small-caption;
  background-color: rgba(255,255,255,1);
  color: rgba(255,255,255,0.8);
  text-shadow: black 0 1px;
  -moz-border-radius: 0.3em;
  border: 1px solid rgba(185,185,185,1);
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px; 
  padding: 4px; 
  margin: 0;
}

.contactdisplaymode img{
 opacity: 0.6;
 -moz-transition-property: opacity;
 -moz-transition-duration: 0.5s;
 -moz-transition-timing-function: ease-out;
}

.contactdisplaymode img:hover{
 opacity: 1;
 -moz-transition-property: opacity;
 -moz-transition-duration: 0.5s;
 -moz-transition-timing-function: ease-out;
}

#contacts {
  position:absolute;height:auto;
  bottom:0;left:0;top:0;right:0;
  margin-top:100px;
  background-color:#EDEDED;
}

/******* Contacts Display: Table View ******/
.contacttable {}

#contactdetail {
  position:absolute;height:auto;
  bottom:0;left:0;top:0;right:0;
  margin-top:100px;margin-left:200px;
  background-color: transparent;
}

.contacttable > .contactlist { 
  background-color:#EDEDED;
  width:200px;
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
}
.contacttable > .contactlist > .contact {
  display:block;
}

.tabledetailpane {
  width:auto;
  height:100%;
  padding-left:0px;
/*  padding-top:16px;*/
  overflow-y: auto;
  overflow-x: hidden;

}
.tablecontentpane {position:absolute;left:500px;top:0px;width:600px;border:none;/*height:100%*/}

.tabledetailpane > .summary { min-height:80px }
.tabledetailpane > .summary > .photo { width: 52px; height: 52px; position: absolute; border: 1px solid #aaa; }
.tabledetailpane > .summary > .photo > img { margin: 0em; padding: 0em; border: 2px solid #eee; width: 48px; height: 48px; }
.tabledetailpane > .summary > .information { margin-left: 54px; padding-left: 1em; }
.tabledetailpane > .summary > .information > .name { color: #222; font-weight: bold; font-size: 120%;}
.tabledetailpane > .summary > .information > .description { color: #999; font-weight:bold; font-size:100%}

.tabledetailpane > .identities > .identity {white-space: nowrap; overflow: hidden}
.tabledetailpane > .identities > .identity > .type > .favicon { margin-left:2px; }
.tabledetailpane > .identities > .identity > .type { white-space: nowrap; overflow: hidden; height:1.2em; display:inline-block;margin-left:2px; color: #999; width: 112px; text-align: right; font-size:80%}
.tabledetailpane > .identities > .identity > .value { white-space: nowrap; overflow: hidden; height:1.2em; display:inline-block;padding-left: 1em; font-size:90% ;}
.tabledetailpane > .identities > .identity > .value > a {color:#3875D7; text-decoration:none;vertical-align:4px; }

.tabledetailpane > .identities > .fieldheader {width:112px;margin-left:40px;text-align:left;font-size:80%;font-weight:bold;padding-top:8px;border-bottom:1px solid #F8F8F8}

.contacttable > .contactlist > .contact {font:small-caption; padding-left:6px; height: 24px; position: relative; padding-top: 3px; padding-bottom:3px; border-bottom: 2px solid #fff; -moz-border-bottom-colors:rgba(200,200,200,0.5) rgba(255,255,255,0.5); background-color: transparent;}
.contacttable > .contactlist > .contact:hover {background-color: #ffffff;}
.contacttable > .contactlist > .contact > .clink {text-decoration:none;color:black; padding-left: 30px; padding-top: 4px; line-height:1em; position: absolute; top: 0px; left: 0px; width: 170px; height: 26px; display: inline-block; }
.contacttable > .contactlist > .contact > .clink:hover {text-decoration:underline;color:#3875D7;}
.contacttable > .contactlist > .contact > .clink:active {text-decoration:underline;color:#3875D7; border: none;}
.contacttable > .contactlist > .contact > .photocolumn {width:16px;height:16px;display:inline-block;}
.contacttable > .contactlist > .contact > .column {margin-left:2px;width:200px;height:13px;display:inline-block;;overflow:hidden}

.contacttable > .contactlist > .contact img{
 opacity: 0.4;
 -moz-transition-property: opacity;
 -moz-transition-duration: 0.5s;
 -moz-transition-timing-function: ease-out;
}
.contacttable > .contactlist > .contact:hover img{
 opacity: 1;
 -moz-transition-property: opacity;
 -moz-transition-duration: 0.5s;
 -moz-transition-timing-function: ease-out;
}

/******* Contact Cards *******/

.contactcards > .contact {
  padding: 16px; 
  margin: 0.5em; 
  width: 20em; 
  -moz-border-radius: 1em; 
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(185,185,185,1);
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
  display:inline-block;
	vertical-align:top;
}

.contactcards > .contact { min-height: 52px; }
.contactcards > .contact > .summary { position: relative;  /*min-height: 52px;*/}

.contactcards > .contact > .summary > .photo { width: 52px; height: 52px; position: absolute;}
.contactcards > .contact > .summary > .photo > img { margin: 0em; padding: 0em; width: 48px; height: 48px; }
.contactcards > .contact > .summary > .information { margin-left: 54px; padding-left: 1em; }
.contactcards > .contact > .summary > .information > .name { color: #222; font-weight: bold; font-size: 90%; overflow: hidden; white-space: nowrap; }
.contactcards > .contact > .summary > .information > .description { color: #999; font-size:80%}

.contactcards > .contact > .contact > .identities { /*margin-top: 1em; border-top: 1px solid #ddd; padding-top: 0.5em;*/ }

.contactcards > .contact > .identities > .identity > .identity { position: relative; margin-bottom: 0.2em; }

.contactcards > .contact > .identities > .identity > .type, .identity > .value { white-space: nowrap; overflow: hidden; }
.contactcards > .contact > .identities > .identity > .type { position: absolute; margin-left:54px; color: #999; width: 52px; text-align: right; font-size:80%}
.contactcards > .contact > .identities > .identity > .value { margin-left: 106px; padding-left: 1em; font-size:80% }

.photo {max-width: 100px;}
.identity {}
img { margin: 0em; padding: 0em; border: none; }
.disclosureCheckbox { float:left}
ol{ list-style: none; padding: 0; font-size: 8.5pt; color: #222;}
ol>li{ padding: 5px; padding-bottom: 6px; padding-top: 8px;}

.discoverers {
  font:small-caption;
  left:16px;
  margin-top:100px;
}
.discovererprogress {
  font-weight:normal;
}
.discovererbadge {
  font:small-caption;
}
.discovererlabel {
  display:inline
}

.controls { margin:0;	padding:2px; 	background:#D7D6D5;	height:66px;	border-bottom:1px solid #808080; }
/* form input {padding:2px; font-size:small; width:100%;} */

.servicedetail {
}
.detailcontrols {
  text-align:right;
  padding-top:16px;
  padding-right:32px;
  font:small-caption;
  font-weight:normal;
} 
.detailcontrols a {
  color:#3875D7
}

.servicedetail > .header {
  font:small-caption;
  border-bottom:1px solid #808080;
  margin-top:16px;
}
.servicedetail > .subhead {
  vertical-align:top;
  font:small-caption;
}
.servicedetail > .subhead > .nestbox {
  margin-left:16px;
}

.servicedetail > .subhead > .item {
  margin-left:16px;
}
.servicedetail > .slot > .svcdetaillabel {
  width:116px;
}
.servicedetail > .subhead > .nestbox > .slot > .svcdetaillabel {
  width:100px;
}
.counteditem {
  margin-left:16px;
}
.counteditem > .slot > .svcdetaillabel {
  margin-left:8px;
  width:92px;
}

.svcitemlabel {
  font:small-caption;
  width:100px;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  vertical-align:top
}

.svcdetaillabel {
  font:small-caption;
  width:100px;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  vertical-align:top
}
.svcdetailvalue {
  padding-left:6px;
  display:inline-block;
  font:small-caption;
  width:400px;
  font-weight:normal;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.svcdetailvaluerel {
  font-style:italic
}


/***** Services *****/


#servicepane {
  position:relative;
  padding-left:32px;
  padding-top:12px;
  width:800px;
  font:small-caption;
}

#servicepane > a { color:#3875D7 }
#servicepane > P { padding-left:6px; }

.contactsLogo {
	float: right;
	margin-top: -30px;
}

#servicesHeader {
  background-color: rgba(255,255,255,1);
  padding: 16px;
  -moz-border-radius: 1em; 
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(185,185,185,1);
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

.importerbadge { 
  position:relative;
  display:block; 
  padding: 4px 8px;
  margin-bottom: 8px;
  -moz-user-select:none;
  -moz-border-radius: 1em; 
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(185,185,185,1);
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

.importerlabel {
  position:absolute;
  left:54px;
  top:12px;
  display:inline;
  margin-bottom:6px;
}
.importerbutton {
  position:absolute;
  left:350px;
  top:10px;
}
.importersubbutton {
  position:absolute;
  top:10px;
  left:685px;
}
.importerprogress {
  position:absolute;
  left:435px;
  width:265px;
  top:12px;
  font-weight:normal;
  color:#909090;
}




/***** Permissions *****/

#permissionpane {
  font:small-caption;
  width:610px;
  margin-left:16px;
  margin-top:16px;
}

#permissionsTable {
  margin-top:16px;
}


.permissionsTableHead > .sitehead {
  width:300px;
  font-weight:bold;
  background-color:#E0E0E0;
  display:inline-block;
}
.permissionsTableHead > .fieldhead {
  width:300px;
  font-weight:bold;
  background-color:#E0E0E0;
  display:inline-block;
}

.permissionsTableBody > .row  {
}

.permissionsTableBody > .row > .site {
  font-weight:normal;
  width:300px;
  height:1.3em;
  overflow:hidden;
  display:inline-block;
}
.permissionsTableBody > .row > .field {
  font-weight:normal;
  width:300px;
  height:1.3em;
  overflow:hidden;
  display:inline-block;
}

